#{extends 'main.html'/}


<div class="row">
<div class="span8 offset2">
<h1 class="alert alert-success">Your app is ready!</h1><br>
	<div align="center">
		<h5> 1. User's Login  -- <a target="_blank" href="/public/templete/login.html"> Click here..</a></h5>
	  	<h5> 2. Creation  -- <a target="_blank" href="/public/templete/create.html"> Click here..</a></h5>
	  	<h5> 3. Details  -- <a target="_blank" href="/public/templete/userdetails.html"> Click here..</a></h5>
	    <h5> 4. List  -- <a target="_blank" href="/public/templete/HTMLPage.html"> Click here..</a></h5>
	    <h5> 5. Confirmation  -- <a target="_blank" href="/public/templete/confirmation.html"> Click here..</a></h5>
	    <h5> 6. Editing  -- <a target="_blank" href="/public/templete/edit.html"> Click here..</a></h5>
	    <h5> 7. One to many  -- <a target="_blank" href="/public/templete/onetomany.html"> Click here..</a></h5>
  	</div>
</div>
</div>
